/* global styles  */

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    background-color: rgb(245,245,245);
}

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

/* color variables */
* {
    --red: rgb(236,0,33);
    --green: rgb(85,180,155);
    --yellow: rgb(255,210,95);
    --blue: rgb(43,152,208);
    --light-red: pink;
    --light-green: rgb(155,245,210);
    --light-yellow: rgb(255,245,150);
    --light-blue: lightblue;
}

/* element styles */

.score {
    margin: 0 40px 0 0;
    font-size: 18px;
    text-align: center;
}

/* layout */

.simon {
    display: grid;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    grid-template-areas:
        "topleft topright"
        "bottomleft bottomright";
}

.simon > button {
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}


footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

/* headings */

header > h1 {
    margin: 50px 0 0 0;
    text-align: center;
}

header {
    max-height: 200px;
}

/* buttons */

.red {
    background-color: var(--red);
    grid-area: topleft;
}
.green {
    background-color: var(--green);
    grid-area: topright;
}
.yellow {
    background-color: var(--yellow);
    grid-area: bottomright;
}
.blue {
    background-color: var(--blue);
    grid-area: bottomleft;
}
/* .red:hover {
    background-color: var(--light-red);
}
.green:hover {
    background-color: var(--light-green);
}
.blue:hover {
    background-color: var(--light-blue);
}
.yellow:hover {
    background-color: var(--light-yellow);
} */
#start-over-btn:hover {
    background-color: darkgray;
    color: white;
}
.red:active {
    background-color: var(--light-red) !important;
}
.green:active {
    background-color: var(--light-green) !important;
}
.blue:active {
    background-color:var(--light-blue) !important;
}
.yellow:active {
    background-color: var(--light-yellow) !important;
}

/* .disable-hover {
    pointer-events: none
} */

#start-over-btn {
    height: 50px;
    font-size: 18px;
    display: block;
    margin: 0 0 0 50px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif
}
/* images */

#felix-img {
    margin: 50px 0 0 5%;
    max-width: 100px; 
}

#meow {
    width: 150px;
    margin: 30px 5% 0 0;
}

/* media queries */

@media only screen and (min-width: 375px) {
    .score {
        padding: 10px 0 0 0;
    }
    #felix-img {
        width: 150px;
    }
}
@media only screen and (min-width: 540px) {
    .simon {
        height: 325px;
        width: 325px;
    }
    #felix-img {
        max-width: 160px;
        margin: 50px 0 0 10%;
    }
    #meow {
        width: 200px;
        margin: 0 0 20px 0;
    }
    header > h1 {
        font-size: 3.25rem;
    }
    #start-over-btn {
        font-size: 28px;
    }
    .score {
        font-size: 28px;
    }
}
@media only screen and (min-width: 1024px) {
    #felix-img {
        width: 250px;
        margin: 50px 0 0 10%;
    }
    #meow {
        width: 220px;
    }
    #start-over-btn {
        font-size: 36px;
    }
    .score {
        font-size: 36px;
    }
}

@media only screen and (min-width: 1440px) {
    .simon {
        height: 450px;
        width: 450px;
    }
    #meow {
        width: 250px;
    }
    #felix-img {
        margin: 0 0 0 10%;
    }
}
@media only screen and (max-height: 830px) {
    .simon {
        height: 250px;
        width: 250px;
    }
    img {
        max-width: 100px;
        margin: 0 0 0 15%;
    }
}

@media only screen and (max-height: 730px) {
    .simon {
        height: 200px;
        width: 200px;
        min-height: 200px;
        min-width: 200px;
    }
    .simon > button {
        margin: 5px;
    }
    #meow {
        max-height: 100px;
    }
}

@media only screen and (max-height: 600px) {
    img {
        visibility: hidden;
    }
}

