/* global styles  */

* {
    border: 1px solid red;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

/* element styles */

.score {
    margin: 0 50px 0 0;
    font-size: 20px;
    text-align: center;
}

/* layout */

.simon {
    display: grid;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* justify-content: center; */
    /* align-items: stretch; */
    border-radius: 50%;
    overflow: hidden;
    grid-template-areas:
        "topleft topright"
        "bottomleft bottomright";
}

footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

/* headings */

header > h1 {
    margin: 50px 0 0 0;
    text-align: center;
}

header {
    max-height: 200px;
}

/* buttons */

.red {
    background-color: red;
    /* width: 100%; */
    margin: 0;
    grid-area: topleft;
}
.green {
    background-color: green;
    /* width: 100%; */
    margin: 0;
    grid-area: topright;
}
.yellow {
    background-color: yellow;
    /* width: 100%; */
    margin: 0;
    grid-area: bottomright;
}
.blue {
    background-color: blue;
    /* width: 100%; */
    margin: 0;
    grid-area: bottomleft;
}

.red:hover {
    background-color: pink;
}
.green:hover {
    background-color: lightgreen;
}
.blue:hover {
    background-color: lightblue;
}
.yellow:hover {
    background-color: lightyellow;
}
#start-over-btn:hover {
    background-color: darkgray;
    color: white;
}

#start-over-btn {
    height: 50px;
    font-size: 18px;
    display: block;
    margin: 0 50px 0 50px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif
}
/* images */

img {
    width: 35vw;
    margin: 50px 0 0 15%;
    max-width: 100px; 
}

@media only screen and (min-width: 768px) {
    .simon {
        height: 375px;
        width: 375px;
    }
    img {
        max-width: 170px;
        margin: 0 0 0 10%;
    }

}

@media only screen and (max-height: 675px) {
    .simon {
        height: 250px;
        width: 250px;
    }
    img {
        max-width: 100px;
    }
}




