/* global styles  */

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

/* element styles */

.score {
    margin: 0 50px 0 0;
    font-size: 24px;
    text-align: center;
}

/* layout */

.simon {
    display: grid;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    grid-template-columns: 1fr 1fr;
    /* comment below out if you want to go back to squares */
    /* border-radius: 50%; */
    overflow: hidden;
    grid-template-areas:
        "topleft topright"
        "bottomleft bottomright";
    /* padding: 10px; */
}

.simon > button {
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}


footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

/* headings */

header > h1 {
    margin: 50px 0 0 0;
    text-align: center;
}

header {
    max-height: 200px;
}

/* buttons */

.red {
    background-color: rgb(236,0,33);
    grid-area: topleft;
}
.green {
    background-color: rgb(85,180,155);
    grid-area: topright;
}
.yellow {
    background-color: rgb(255,210,95);
    grid-area: bottomright;
}
.blue {
    background-color: rgb(43,152,208);
    grid-area: bottomleft;
}
.red:hover {
    background-color: pink;
}
.green:hover {
    background-color: rgb(155,245,210);
}
.blue:hover {
    background-color: lightblue;
}
.yellow:hover {
    background-color: rgb(255,245,150);
}
#start-over-btn:hover {
    background-color: darkgray;
    color: white;
}
.red:active {
    background-color: pink;
}
.green:active {
    background-color: rgb(155,245,210);
}
.blue:active {
    background-color: lightblue;
}
.yellow:active {
    background-color: rgb(255,245,150);
}

#start-over-btn {
    height: 50px;
    font-size: 20px;
    display: block;
    margin: 0 50px 0 50px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif
}
/* images */

img {
    width: 35vw;
    margin: 50px 0 0 15%;
    max-width: 100px; 
}

/* highlight buttons */

.highlightred {
    background-color: pink;
}

.highlightgreen {
    background-color: lightgreen;
}

.highlightyellow {
    background-color: lightyellow;
}

.highlightblue {
    background-color: lightblue;
}

/* media queries */

@media only screen and (min-width: 768px) {
    .simon {
        height: 375px;
        width: 375px;
    }
    img {
        max-width: 170px;
        margin: 0 0 0 10%;
    }
    header > h1 {
        font-size: 3.5rem;
    }
    #start-over-btn {
        font-size: 28px;
    }
    .score {
        font-size: 28px;
    }

}

@media only screen and (max-height: 675px) {
    .simon {
        height: 250px;
        width: 250px;
    }
    img {
        max-width: 100px;
        margin: 0 0 0 15%;
    }
}




